@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto:wght@900&family=Saira+Condensed&display=swap');


* {
    padding: 0;
    margin: 0
}

:root {
    background: url(../public/wallpaper.gif) no-repeat center center fixed;
    height: 100vh;
    width: 100vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: coral;
    font-size: 20px;
    white-space: wrap;
    scroll-behavior: smooth;
}

.name { 
    display: inline-block;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;
    position: relative;
    text-align: center;
    width: max-content;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: yellowgreen;
}

#animation1 {
    border-right: 2px solid;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 3s steps(50, end) forwards, cursor 0.5s step-end infinite
}


h2 {
    border-right: 2px solid;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 2s steps(50, end) forwards, cursor 0.5s step-end infinite
}

@keyframes typing {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes cursor {
    0% {
        border-right-color: transparent;
    }
    50% {
        border-right-color: white;
    }
}

p {
    margin: 50px 100px
}

.position { 
    display: inline-block;
    font-family: monospace;
    font-size: 20px;
    position: relative;
    text-align: center;
    width: max-content;
    left: 20%
}

