.contact {
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.downloadBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.img {
    display: block;
    margin: 16px auto;
    border: 1px white solid;
    border-radius: 10px;
    text-align: center;
}

.li {
   text-align: center;
   font-weight: bold
}

.navBar {
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(35,201,144,1) 35%, rgba(2,0,36,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
    padding: 15px;
    position: sticky;
    top: 0;
    border-bottom: 2px solid white;
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 200px;
}





